<p>
  form-client works!

</p>
<form #clientForm="ngForm" (ngSubmit)="onSubmit()">

  <label for="name">Name:</label>
  <input id="name" name="name" type="text" [(ngModel)]="client.name">
  <label for="phone">Phone:</label>
  <input id="phone" name="telefone" type="number" [(ngModel)]="client.telefone">
  <label for="born Date">born Date:</label>
  <input id="born Date" name="dataNascimento" type="date" [(ngModel)]="client.dataNascimento">
  <label for="address">Address:</label>
  <input id="address" name="endereco " type="text" [(ngModel)]="client.endereco">
  <label for="email">Email:</label>
  <input id="email" name="email" type="email" [(ngModel)]="client.email">
  <label for="cpf">CPF:</label>
  <input id="cpf" name="cpf" type="text" [(ngModel)]="client.cpf">

  <br>
  <button type="submit">Save</button>

</form>