<div class="container-fluid">
  <div class="row" style="padding:13px"><h1>Menu</h1></div>
  <div class="row"><ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/funcionarios']">Funcionarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/']">Listar funcionarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">mudar funcionarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">deletar funcionarios</a>
      </li>
    </ul></div>
  </div>