<div class="container-fluid">
    <div class="row" style="padding:13px"><h1>Dashboard</h1></div>
    <div class="row"><ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/client']">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/funcionarios']">Funcionario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/equipamentos']">Equipamentos</a>
        </li>
      </ul></div>
  </div>